@media screen and (max-width: 768px) {
    .header{
        /* background-color: red ; */
        display: flex;
        flex-direction: column;
        display: none;
    }
    .header > *{
        margin: 10px 0;
    }
    .header .cartlogo{
        position: relative;
      }
      .header .cartcount{
        position: absolute;
        color: pink;
        background-color: #fff;
        /* border: 1px solid #222; */
        /* padding: 10px; */
        font-weight: bold;
        top: 5px;
        right: 10px;
        border-radius: 50%;
      }
      body{
        padding: 0;
      }


    }
